.buttons {
    background: linear-gradient(to top left, #96fa99, #41e0d0);
    height: 100vh;
    position: relative;
}
.button-value {
    font-size: 1.2rem;
    display: inline-block;
}
.buttons-list {
    list-style-type: none;
    padding-left: 0;
    max-width: 700px;
    background: linear-gradient(to top left, #a0fa69, #41e0f8);
    margin: 0 auto;
    padding-top: 90px;
    height: 90vh;
}
.buttons-list > li {
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    position: relative;
}
.buttons-list > li a:first-child {
    color: #414141;
    font-weight: bold;
    font-size: 1.3em;
}
.buttons-list > li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.buttons-list > li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.back-btn {
    background-color:gray;
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: bold;
    display: block;
    width: 60px;
    position: absolute;
    top: 110px;
    left: 50px;
}
.back-btn:hover {
    background-color: rgb(75, 75, 75);
    box-shadow: 0px 0px 15px 3px rgb(92, 91, 91);
}
@media all and (max-width: 1100px){
    .buttons-list {
        margin: 0 200px;
    }
}
@media all and (max-width: 900px){
    .buttons-list {
        margin: 0 100px;
        padding-top: 140px;
        height: 85vh;
    }
    .add-btn,
    .back-btn {
        left: 130px;
    }
    .add-btn {
        top: 20px;
    }
    .back-btn {
        top: 80px;
    }
}
@media all and (max-width: 700px){
    .buttons-list {
        margin: 0 auto;
    }
    .add-btn,
    .back-btn {
        left: 30px;
    }
}
@media all and (max-width: 480px){
    .button-value {
        text-align: center;
        margin-bottom: 10px;
        display: block;
    }
    .edit-btn {
        margin: 0;
    }
}