@import url('https://fonts.googleapis.com/css?family=Livvic:700&display=swap');

a {
    text-decoration: none;
    color: white;
}
body {
    margin: 0;
    font-family: 'Livvic', sans-serif;
}
.add-btn {
    background-color:gray;
    border-radius: 5px;
    padding: 15px 25px;
    font-weight: bold;
    display: block;
    width: 60px;
    position: absolute;
    top: 40px;
    left: 50px;
}
.add-btn:hover {
    background-color: rgb(75, 75, 75);
}
.edit-btn {
    background-color:#5bc0de;
    margin: 0 5px;
    padding: 0 5px;
    position: absolute;
    top: 20px;
}
.edit-btn,
.del-btn {
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}
.add-btn:hover,
.del-btn:hover {
    box-shadow: 0px 0px 15px 3px rgb(92, 91, 91);
}
.del-btn {
    background-color: rgb(221, 4, 4);
    border: none;
    color: white;
    padding: 5px;
    position: absolute;
    right: 20px;
    top: 25px;
    font-size: 1.1em;
}
.main {
    background: linear-gradient(to top left, #43d4e1, #4a91e2);
    height: 100vh;
    position: relative;
}
.user-list {
    list-style-type: none;
    padding-left: 0;
    max-width: 700px;
    background: linear-gradient(to top left, #3fbad9, #4494da);
    margin: 0 auto;
    padding-top: 90px;
    height: 90vh;
}
.user-list > li {
    padding: 25px;
    background-color: white;
    border-radius: 5px;
    width: 80%;
    margin: 10px auto;
    position: relative;
}
.user-list > li a:first-child {
    color: #414141;
    font-weight: bold;
    font-size: 1.3em;
}
.user-list > li:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.user-list > li:last-child {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.current-user,
.base-user {
    position: relative;
}
.current-user:before,
.base-user:before {
    width: 10px;
    height: 10px;
    border-radius: 10em;
    position: absolute;
    content: '';
    left: -15px;
    box-shadow: 0 0 3px 1px gray;
}
.current-user::before {
    background-color: limegreen;
    animation: blinking 3s linear infinite;
}
.base-user:before {
   background-color: red;
}
@keyframes blinking {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.4);
    }
    100% {
        transform: scale(1);
    }
}

@media all and (max-width: 1100px){
    .user-list {
        margin: 0 200px;
    }
}
@media all and (max-width: 900px){
    .user-list {
        margin: 0 100px;
    }
    .add-btn {
        left: 130px;
    }
}
@media all and (max-width: 700px){
    .user-list {
        margin: 0 auto;
    }
    .add-btn {
        left: 30px;
    }
}
@media all and (max-width: 480px) {
    .del-btn,
    .edit-btn {
        position: static;
        display: block;
        width: 100%;
        text-align: center;
        margin-top: 5px;
    }
    .edit-btn {
        padding: 5px 0;
    }
    .edit-btn:hover {
        box-shadow: 0px 0px 15px 3px rgb(92, 91, 91);
    }
    .user-list li {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .current-user {
        margin-bottom: 10px;
    }
}