.full-name {
    height: 50px;
    max-width: 330px;
    border: none;
    border-radius: 2px;
    font-weight: bold;
    font-size: 22px;
    color: gray;
    outline: none;
    padding-left: 10px;
    display: block;
    margin: 10px 0;
    background-color: rgba(255, 255, 255, 0.8);
}
.full-name p {
    margin: 0;
    padding: 10px;
    text-align: center;
}
