body {
    background: linear-gradient(to top left, #53e5c4, #4a92e2);
    margin: 0;
    height: 100vh;
}
.change-user-btn,
.btns-list {
    display: block;
    max-width: 310px;
    padding: 10px 15px;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2em;
}
.change-user-btn:hover {
    background-color: #0066c0;
}
.app {
    padding: 20px;
}
.btns-list,
.change-user-btn {
    background-color: rgba(255, 255, 255, 0.3);
}
.btns-list:hover {
    background-color: rgb(101, 30, 168);
}
.btns-list:hover,
.change-user-btn:hover {
    box-shadow: 0px 0px 15px 3px rgb(92, 91, 91);
    background-color: rgba(255, 255, 255, 0.5);
}
