.create-user-surface {
    background-color: #44c6e1;
    height: 100vh;
    position: relative;
}
.create-user {
    background-color: white;
    width: 500px;
    height: 350px;
    box-shadow: 0px 0px 10px 3px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.create-user h1 {
    font-weight: normal;
    color: #414141;
    text-align: center;
    padding: 30px;
}
.create-user-form input,
.create-user-form button {
    height: 30px;
    display: block;
    margin: 30px auto;
    width: 80%;
}
.create-user-form input {
    padding-left: 10px;
}
.create-user-form button {
    width: 40%;
    background: gray;
    color: white;
    border: none;
    font-size: 1.2em;
    height: 40px;
}
.create-user-form button:hover {
    box-shadow: 0px 0px 10px 3px rgb(148, 147, 147);
    background-color: rgb(82, 82, 82);
}