.baseBtn,
.resultBtn,
.resetBtn,
.numsBtn {
    background-color: transparent;
    color: grey;
    min-width: 25%;
    height: 60px;
    border: none;
    outline: none;
    font-weight: bold;
    font-size: 1.2em;
    padding: 0;
    flex: 1;
}
.baseBtn:active,
.resultBtn:active,
.resetBtn:active,
.numsBtn:active {
    background: #9e9c9c;
    color: #ffffff;
    box-shadow: 0px 0px 3px 3px grey;
}
.resetBtn {
    background-color: darkred;
}
.resultBtn {
    background: darkblue;
}
.numsBtn {
    /*background: grey;*/
}
.resetBtn,
.resultBtn,
.numsBtn {
    color: white;
}
.resetBtn:hover {
    background: rgb(199, 13, 13);
}
.resultBtn:hover {
    background: blue;
}
.numsBtn:hover,
.baseBtn:hover{
    background: rgb(92, 90, 90);
    color: #ffffff;
}

