.calc-display {
    min-height: 150px;
    max-width: 340px;
    border: none;
    background: linear-gradient(to top right, #4363ea, #4b51cd ) no-repeat;
    font-weight: bold;
    font-size: 20px;
    text-align: right;
    color: white;
    outline: none;
}
.calc-display p {
    margin: 0;
    padding: 20px;
}
