.history-list {
    background: linear-gradient(to top right, #4363ea, #4b51cd ) no-repeat;
    padding: 20px;
    overflow: auto;
    max-height: 200px;
    width: 340px;
}
.history-list p {
    color: white;
    font-size: 1.3rem;
    margin: 5px 0;
}
.history-block {
    display: flex;
}
.history {
    max-width: 340px;
    position: relative;
}
.clear-history {
    border: 1px solid white;
    color: white;
    background-color: transparent;
    font-size: 1.2rem;
    padding: 5px 10px;
}
.show-history {
    position: absolute;
    right: 15px;
    top: -20px;
    transform: translateY(-50%);
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.5rem;
}
.show-history:active {
    outline: none;
}