.create-btn-surface {
    background-color: #6aedb4;
    height: 100vh;
    position: relative;
}
.create-button {
    background-color: white;
    width: 500px;
    height: 350px;
    box-shadow: 0px 0px 10px 3px gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.create-button h1 {
    font-weight: normal;
    color: #414141;
    text-align: center;
    padding: 30px;
}
.create-button-form input,
.create-button-form button {
    height: 30px;
    display: block;
    margin: 30px auto;
    width: 80%;
}
.create-button-form input {
    padding-left: 10px;
}
.create-button-form button {
    width: 40%;
    background: gray;
    color: white;
    border: none;
    font-size: 1.2em;
    height: 40px;
}
.create-button-form button:hover {
    box-shadow: 0px 0px 10px 3px rgb(148, 147, 147);
    background-color: rgb(82, 82, 82);
}